<!DOCTYPE html>
<html>
<head>
<title>
Knock Knock	
</title>
</head>
<body>


I am on web homepage
<img src="/static/img/criminal-1.jpg" alt="Criminal" width="200" height="200">
<img src="/static/img/criminal-2.jpg" alt="Criminal" width="200" height="200">

<img src="/static/img/stranger-1.jpg" alt="Criminal" width="200" height="200">
<img src="/static/img/stranger-2.jpg" alt="Criminal" width="200" height="200">

<img src="/static/img/friend-1.jpg" alt="Criminal" width="200" height="200">
<img src="/static/img/friend-2.jpg" alt="Criminal" width="200" height="200">



</body>
</html>